/* ======================================
    Color Variables Starts Here
====================================== */

$White: #FFFFFF;
$White-10: rgba(255, 255, 255, 0.1);
$White-20: rgba(255, 255, 255, 0.2);
$White-30: rgba(255, 255, 255, 0.3);
$White-40: rgba(255, 255, 255, 0.4);
$White-50: rgba(255, 255, 255, 0.5);
$White-60: rgba(255, 255, 255, 0.6);
$White-70: rgba(255, 255, 255, 0.7);
$White-80: rgba(255, 255, 255, 0.8);
$heading-color: #051a1a;
$text-color: #98a6ad;
$theme-font-color: #86909c;
$theme-default: #006666;
$dark-default: #22242B;
$danger-color: #FE6A49;
$bg-color: #1A1C23;

/* ======================================
    Font Size Variables Starts Here
====================================== */

$font-size-28: 28px;
$font-size-20: 20px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;

/* ======================================
    Line Height Variables Starts Here
====================================== */

/* ======================================
    Font Family Variables Starts Here
====================================== */

$font-family-Montserrat-Bold: 'Montserrat-Bold';
$font-family-Montserrat-SemiBold: 'Montserrat-SemiBold';
$font-family-Montserrat-Medium: 'Montserrat-Medium';
$font-family-Montserrat-Regular: 'Montserrat-Regular';

/* ======================================
    Box Shadow Variables Starts Here
====================================== */
